altgraph==0.17.3
asgiref==3.8.1
azure-core==1.29.4
azure-storage-queue==12.7.2
bcrypt==4.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
cryptography==41.0.4
Django==5.1.6
django-allauth==65.4.1
Flask==1.1.4
func-timeout==4.3.5
idna==3.4
isodate==0.6.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
numpy==2.2.3
paho-mqtt==1.6.1
paramiko==3.3.1
pefile==2023.2.7
pycparser==2.21
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyperclip==1.8.2
python-dotenv==1.0.0
pytimedinput==2.0.1
pytz==2025.1
pywin32-ctypes==0.2.0
requests==2.26.0
six==1.16.0
sqlparse==0.5.3
tk==0.1.0
typing_extensions==4.8.0
tzdata==2025.1
urllib3==1.26.14
websocket-client==1.7.0
Werkzeug==1.0.1
xlrd==2.0.1
XlsxWriter==3.0.3
