{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 p-3 col-md-6 my-auto bg-off-white" id="welcome-message">
            <h1 class="display-4 text-black">
                Next drop coming soon!
            </h1>
            <p>ROCK DROP, home to handmade sustainable jewelry. The next sale will be opening soon - sign up for an account below to be kept up to date.</p>
            <div class="mt-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-ls text-uppercase py-3 bg-dark-green text-white">Shop Now</a>
                </h4>
            </div>
            <div class="my-2">
                <h4>
                    <a href="" class="shop-now-button btn btn-ls text-uppercase py-3 bg-light-green">Tell me about next drop</a>
                </h4>
            </div>
        </div>    
    </div>
</div>
{% endblock %}