{% extends "account/base.html" %}

{% load i18n %}

{% block sub_title %}
<div class="overlay"></div>
<div class="container header-container text-center">
    <div class="row">
        <h1>Set Password</h1>
        <hr>
    </div>
</div>
{% endblock %}

{% block inner_content %}


    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn bg-dark-green text-white mt-4" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
