{% extends "account/base.html" %}

{% load i18n %}

{% block sub_title %}
<div class="overlay"></div>
<div class="container header-container text-center">
    <div class="row">
        <h1>Verify Your Email</h1>
        <hr>
    </div>
</div>
{% endblock %}

{% block inner_content %}


    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
