{% extends "base.html" %}
{% load static %}

{% block sub_title %}
<div class="overlay"></div>
<div class="container header-container text-center">
    <div class="row">
        <h1>Product Details</h1>
        <hr>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-4 pt-4">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <h3 class="mb-0">{{ product.name }}</h3>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-9">
                            <p><strong>SKU: </strong>{{ product.sku }}</p>
                        </div>
                        <div class="col-3">
                            {% if product.category %}
                            <p class="small mt-1 mb-0">
                                <i class="fas fa-tag mr-1 text-muted"></i>
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category }}">
                                    {{ product.get_category_display|capfirst }}
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p id="desc-label"><strong>Description</strong></p>
                            <p class="">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 py-5 text-center rounded-3 tx-white ml-5">
            {% if product.stone_type %}
            <div class="row">
                <p class="bg-dark-green rounded-4 product-details-label"><strong>Stone Type: </strong>{{ product.get_stone_type_display }}</p>
            </div>
            {% endif %}
            {% if product.metal_type %}
            <div class="row">
                <p class="bg-dark-green rounded-4 product-details-label"><strong>Metal Type: </strong>{{ product.get_metal_type_display }}</p>
            </div>
            {% endif %}
            {% if product.chain_length %}
            <div class="row">
                <p class="bg-dark-green rounded-4 product-details-label"><strong>Chain Length: </strong>{{ product.get_chain_length_display }}</p>
            </div>
            {% endif %}
            {% if product.chain_thickness %}
            <div class="row">
                <p class="bg-dark-green rounded-4 product-details-label"><strong>Chain Thickness: </strong>{{ product.get_chain_thickness_display }}</p>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <label for="qty">Quantity: </label>
            <select name="qty" id="qty" form="qty-form">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <form id="qty-form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'products' %}" class="btn">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <input type="submit" class="btn text-uppercase" value="Add to Cart">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}