{% extends "base.html" %}
{% load static %}

{% block sub_title %}
<div class="overlay"></div>
<div class="container header-container text-center">
    <div class="row">
        <div class="col">
            <h1>All Products</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-2">
                        <div class="card product-card">
                            {% if product.image %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="row">
                            <div class="col-8 card-body py-2">
                                <p class="mb-0">{{ product.name|capfirst }}</p>
                                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                            </div>
                            <div class="col-3">
                                <a href="" class="btn btn-sm mt-2 bg-dark-green tx-white">+</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}